:host {
  display: block;
  background-color: #272822;
  padding: 100px 0;

  .control-container,
  .slider-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .control-container {
    width: 100vw;
    height: 60vh;

    img {
      width: 50vw;
    }

    margin-bottom: 50px;

    .image-container {
      display: flex;
      justify-content: space-around;
      margin-bottom: 40px;
    }

    .slider-container {
      mat-slider {
        width: 50vw;
      }

      margin-bottom: 40px;
    }

    .button-container {
      app-state-button {

        margin: 1rem;
      }
    }

  }
}
