<router-outlet></router-outlet>


<div class="control-container">
  <div *ngIf="lightState$ | async as lightState" (click)="toggleState(lightState)" class="inner-control-container">

    <div class="image-container">
      <img *ngIf="lightState.isStarted; else isOff" src="assets/images/lightbulb_on.svg" alt="" srcset="">

      <ng-template #isOff>
        <img src="assets/images/lightbulb_off.svg" alt="" srcset="">
      </ng-template>
    </div>

    <div class="slider-container">
      <mat-slider [value]="lightState.range" thumbLabel tickInterval="1" min="1" max="10" (input)="updateState($event)">
      </mat-slider>
    </div>

    <div class="button-container">

      <app-state-button (click)="changeMode(1)" icon="brightness_6" [state]="lightState.mode == 1 ? true : false">
      </app-state-button>

      <app-state-button (click)="changeMode(2)" icon="flash_on" [state]="lightState.mode == 2 ? true : false">
      </app-state-button>

      <app-state-button (click)="changeMode(3)" icon="transform" [state]="lightState.mode == 3 ? true : false">
      </app-state-button>

      <app-state-button (click)="changeMode(4)" icon="all_inclusive" [state]="lightState.mode == 4 ? true : false">
      </app-state-button>
    </div>
  </div>
</div>
