<router-outlet></router-outlet>


<div class="image-container" *ngIf="lightState$ | async as lightState" (click)="toggleState(lightState)"  >
  <img *ngIf="lightState.isStarted; else isOff" src="assets/images/lightbulb_on.svg" alt="" srcset="">

  <ng-template #isOff >
    <img src="assets/images/lightbulb_off.svg" alt="" srcset="">
  </ng-template>
</div>


<div class="slider-container">
  <mat-slider
  thumbLabel
  tickInterval="1"
  min="1"
  max="10"
  (input)="updateState($event)"

  >
</mat-slider>
</div>
